@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Roboto+Mono:wght@400;700&family=Space+Grotesk:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  line-height: 1.5;
  font-size: 112.5%;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 5%;
  border: 2px solid #d6d9d8;
  border-radius: 20px;
  width: clamp(400px, 50vw, 800px);
  color: #d6d9d8;
  p {
    /* margin-top: 2%; */
    text-wrap: balance;
    padding: 0 5%;
    padding-bottom: 5%;
  }
}

body {
  font-family: 'Roboto Mono', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  /* height: clamp(); */
  /* width: clamp(400px, 50vw, 800px); */
  margin: 2%;
}

main {
  display: flex;
  flex-direction: column;
  /* border: 2px solid #d6d9d8; */
  border-radius: 20px;
  /* width: clamp(400px, 50vw, 800px); */
  align-items: center;
  justify-content: center;
  width: clamp(400px, 50vw, 800px);

  /* background-color: red; */
}

input {
  background-color: white;
  border-radius: 20px;
  font-size: 1rem;
  height: 10%;
  width: 60%;
  padding: 5px;
}

.sort-button {
  background-color: white;
  border-radius: 20px;
  height: 10%;
  width: 60%;
  padding: 5px;
  margin-top: 2%;
  font-size: 1rem;
  color: black;

  &:hover {
    cursor: pointer;
    background: linear-gradient(
      90deg,
      rgba(60, 103, 218, 1) 0%,
      rgba(40, 177, 232, 1) 30%,
      rgba(19, 250, 247, 1) 60%,
      rgba(129, 245, 238, 1) 80%,
      rgba(239, 240, 229, 1) 100%
    );
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
      0 0 20px rgba(255, 255, 255, 0.2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
  }
}

h1 {
  background: linear-gradient(
    90deg,
    rgba(60, 103, 218, 1) 16%,
    rgba(19, 250, 247, 1) 42%,
    rgba(239, 240, 229, 1) 87%
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  padding: 5%;
}

.visualizer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  background: linear-gradient(
    90deg,
    rgba(60, 103, 218, 1) 16%,
    rgba(19, 250, 247, 1) 42%,
    rgba(239, 240, 229, 1) 87%
  );
  margin-top: 5%;
}

.prompt {
  display: flex;
  flex-direction: row;
}

.box {
  /* background-color: yellow; */
  padding: 2em;
  border: 1px solid black;
  font-weight: bold;
  font-size: larger;
}

.box.current {
  border: 6px solid red;
}

.box.active {
  background-color: grey;
}

.box.min {
  border: 6px solid yellow;
}

.pause-button {
  position: block;
  background-color: white;
  border-radius: 20px;
  height: 10%;
  width: 60%;
  padding: 5px;
  margin-top: 2%;
  font-size: 1rem;
  color: black;
  &:hover {
    cursor: pointer;
    background: linear-gradient(
      90deg,
      rgba(60, 103, 218, 1) 0%,
      rgba(40, 177, 232, 1) 30%,
      rgba(19, 250, 247, 1) 60%,
      rgba(129, 245, 238, 1) 80%,
      rgba(239, 240, 229, 1) 100%
    );
  }
}

.resume-button {
  position: block;
  background-color: white;
  border-radius: 20px;
  height: 10%;
  width: 60%;
  padding: 5px;
  margin-top: 2%;
  font-size: 1rem;
  color: black;
  &:hover {
    cursor: pointer;
    background: linear-gradient(
      90deg,
      rgba(60, 103, 218, 1) 0%,
      rgba(40, 177, 232, 1) 30%,
      rgba(19, 250, 247, 1) 60%,
      rgba(129, 245, 238, 1) 80%,
      rgba(239, 240, 229, 1) 100%
    );
  }
}

.error-message {
  display: flex;
  font-size: 1rem;
  padding: 5px;
  margin-top: 2%;
  color: red;
}

.error-modal {
  display: none;
  flex-direction: row;
  border-radius: 20px;
  background-color: white;
  height: 22%;
  width: 60%;
  padding: 5px;
  margin-top: 2%;
  font-size: 1rem;
}

.close-modal {
  background-color: white;
  color: black;
  border: none;
  height: 5%;
  width: 5%;
  padding: 10px;
}

.tooltip {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  height: 15%;
  width: 30%;
  background-color: black;
  margin-top: 5%;
}
