* {
  margin: 0;
  padding: 0;
}

header {
  align-items: center;
  flex-direction: column;
  background-color: blue;

  .prompt {
    background-color: white;
  }
}

body {
  display: block;
  position: relative;
  align-items: center;
  justify-content: center;
}

.display {
  background-color: red;
}

.visualizer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
}
